button{
    height: 20vh;
    width: 30vw;
    margin: 50px;
    border: none;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    font: 40px;
    font-size: 150%;
}

h1, p{
    font-family: sans-serif;
}

button:hover{
box-shadow: 0px 0px 10px 2px rgb(33, 56, 102);
}

body{
    text-align: center;
}

#pointsBox{
    float: right;
    margin: 40px;
    border: 3px solid black;
}
#points{
    margin: 100px;
}

a{
    text-decoration: none;
}


h1, p{
    font-family: 'Fredoka', sans-serif; 
}

h1{
   font-size: 350%;
}
p{
    font-size:150%;
}

body{
   /*background-color: rgb(182, 197, 228); */
   background-repeat: no-repeat;
   background-size: cover;
   background-image: linear-gradient(white, rgb(18, 119, 221));
   background-color:rgb(18,119,221);
}